body{
    background-color: #FAF4F4;
}

.header{
        display: flex;
        padding: 32px 6%;
        justify-content: space-between;
        align-items: center;
}

.header-menu{
    padding-left: 12px;
    padding-right: 12px;
}

.rounded-start-custom {
    border-radius: 16px;
}

.background-image-class {
    background-image: url('./assets/projects/Gradient2.png'); /* Replace 'path-to-your-image.jpg' with the actual path to your image file */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image horizontally and vertically */
    background-repeat: no-repeat; 
    padding-bottom: 48px;/* Prevents the image from repeating */
    /* You can add more background properties and styles as needed */
  }

#header-title{
    color: #13131A;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#header-menu{
    font-family: Inter;
    color: #767676;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#small-text{
    color: #13131A;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#banner-text{
    color: #13131A;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    line-height: 125%;
    font-size: 64px;
}

#card-title{
    color: #13131A;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

#card-content{
    color: #13131A;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 175%; 
    letter-spacing: -0.1px;
}strong {
    font-weight: bold;}

#button{
    color: #FAF4F4;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 175%; /* 24.5px */
    letter-spacing: -0.07px;
}